<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="Enviroment" value="test" />

    <!-- DefaultEmailAddress: To use in test enviroment to send all email to these address below -->
    <add key="DefaultEmailAddress" value="vernesto84@gmail.com"/>
  </appSettings>
  <!--<connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
  
  <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element" xmlns="http://www.w3.org/2001/04/xmlenc#">
   <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
   <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
    <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
     <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
     <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
      <KeyName>Rsa Key</KeyName>
     </KeyInfo>
     <CipherData>
      <CipherValue>G6vSb8Kf/CjVfnp374qW+qxTQUKZ6vsd9gHsJzpDxfLxSruqfP92iYFf7tzTmfPxaXxQMl3hxPxU6+hM3o2fHEpBzTzP1ORGndaNbdVr/bqBN44n6K7RjeRz13jsmJuw+Fun6lxbtbYEt5Euf6E9aVqEEGmBTBLX5g2xkZdTwIg=</CipherValue>
     </CipherData>
    </EncryptedKey>
   </KeyInfo>
   <CipherData>
    <CipherValue>385M8O8PMwFAs5VSaDGY59hw5YZur49JZMQTEgw4o1uVA9aBGNjQQ3WK90wyuIyJwe+B82ZLMrRpCvt0f9SonKM/5aXYkzi3NrxhAvyQ8+sdqoUSQWSUVnaUHR0X0wGvPQdZyRt+dBm4O20J9AphJaEa9J2R521uGPT1OfYHOaWNmhcwmf8JQipSkQT27GYpn+IbB3QgUpouGZLAPXNdq8x7LYkRStD87yTWszcapqrJpn5YAiHnhcib0MJCZjmemOot6SL0a4lt6Z4GIHkMqxk/+4LnMVxMwhTgdq2pIIxOhQ2xDdXPuDXcag9hyX6Hff9rdAIC/0J0F5N8h3zXWjtNrbhBql8MaB1g/bkPP1cHzmlLz8lpiL/qiuAVhEh3</CipherValue>
   </CipherData>
  </EncryptedData>
 </connectionStrings>-->
  <!--<connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
  <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
   xmlns="http://www.w3.org/2001/04/xmlenc#">
   <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
   <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
    <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
     <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
     <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
      <KeyName>Rsa Key</KeyName>
     </KeyInfo>
     <CipherData>
      <CipherValue>PC7sTVPue01NQ2A6BeCWlXYObifcs2WJcjypL/T3uE0OJ3qbCgx3xkeS599CBBxeCo9ySCp5izLzVCBzkJ/BnaGdd9au0DCFKyoQdXsPgucKAnGylg/NBStFAvPLTxuURMnd3sew/x+XhRxDSzWGDYYhSM9tns1m9z+qzuODC+o=</CipherValue>
     </CipherData>
    </EncryptedKey>
   </KeyInfo>
   <CipherData>
    <CipherValue>nn4qradQZ4GGUj1p392r/mxqWXLG9gvWynIbXQJ7JMaeYyN51Aq9o/bEy4PR9NuTzwBd0XbFfTEdoRP4ZAV+ceEwg0FzHtn8qcT2+PEPXBLv2dDSKoDgY2YAQ82LpCymgk+HBpjdpnej28KCqyrZa5l7fs+C7mn2iMpILrpm4SvgUEnTDNOeMBdty9KCapQkxPNTvxRJnlZ9uDxr75jwvw05FKxCRPT0eu7GZx7jH8BDOSGyC/ddiA+C6LhzZLHYrOiTR4fBJsc6/B6sODvZCh1ZJOeNuKQKvpyfONGeRckDoFZvJvjPnZb5LXMg1UuP4pXHIRr8SnU=</CipherValue>
   </CipherData>
  </EncryptedData>
 </connectionStrings>-->
  <connectionStrings>
    <add name="ConnISJ" connectionString="Data Source=localhost;Initial Catalog=ISJ;Persist Security Info=True;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <httpRuntime requestValidationMode="2.0" />
    <authorization>
      <allow roles="Administrator" />
    </authorization>
    <customErrors mode="Off" />
    <!--<identity impersonate="true" />-->
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <!--<httpModules>
      <add name="CuteEditor.UploadModule" type="CuteEditor.UploadModule,CuteEditor" />
        </httpModules>-->
    <pages>
      <controls>
        <add tagPrefix="asp" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
        <add tagPrefix="CE" assembly="CuteEditor" namespace="CuteEditor" />
      </controls>
    </pages>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-GB" />
  </system.web>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect domain.com to www" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^isupportjamaica.com$" />
          </conditions>
          <action type="Redirect" url="https://www.isupportjamaica.com/{R:0}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    <defaultDocument>
      <files>
        <clear />
        <add value="default.aspx" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.aspx" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="iisstart.htm" />
      </files>
    </defaultDocument>
    <staticContent>
      <mimeMap fileExtension=".f4v" mimeType="video/mp4" />
      <mimeMap fileExtension=".otf" mimeType="fonts/otf" />
            <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
    </staticContent>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp from="noreply@isupportjamaica.com">
        <network host="localhost" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>