<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <toolbars>
        <item type="g_start" />
        <item type="image" name="Bold" />
        <item type="image" name="Italic" />
        <item type="image" name="Underline" imagename="under" />
        <item type="image" name="InsertOrderedList" imagename="numlist" />
        <item type="image" name="InsertUnorderedList" imagename="bullist" />
        <item type="image" name="InsertLink" imagename="link" />
        <item type="image" name="Unlink" />
        <item type="g_end" />
    </toolbars>
</configuration>
